@media screen and (max-width: 767px) {
  #sidebar {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
  }

  #sidebar #categories {
    background-color: white;
  }

  #sidebar #categories .categoryLevel1 {
    background-color: white;
  }

  #sidebar .visibleCate {
    max-height: 800px;
    overflow: hidden;
    padding: 0px 32px 50px 32px;
    transition: all 0.5s ease-in;
  }
  #sidebar .unVisibleCate {
    max-height: 0px;
    padding: 0px 32px;
    overflow: hidden;
    transition: all 0.5s ease-out;
  }

  @keyframes showMenu {
    from {
      height: 0;
    }
    to {
      height: 300;
    }
  }

  @keyframes closeMenu {
    from {
      height: 300;
    }
    to {
      height: 0;
    }
  }
}

/* 태블릿 */
/*
@media screen and (min-width: 768px) and (max-width: 959px)
{

}
*/
/* PC */
/*@media screen and (min-width: 960px)*/
@media screen and (min-width: 768px) {
  #sidebar {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 3%;
    width: 20%;
  }
  #sidebar #introduce {
    border-bottom: 1pt solid rgba(160, 160, 160, 0.3);
  }
}

#sidebar #introduce {
  align-items: center;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

#sidebar #introduce p {
  padding: 0 5px 0 5px;
}
#sidebar #introduce .author {
  margin: 0 0 1em 0;
  font-size: 1em;
}

#sidebar #introduce p {
  font-size: 0.9em;
  opacity: 0.7;
}

#sidebar #categories span {
  font-size: 20px;
}

#sidebar #categories li a {
  font-size: 20px;
}

#sidebar #categories h1 {
  margin: 20px 10px 10px 10px;
}

#sidebar #categories .categoryLevel1 {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

#sidebar #categories .categoryLevel1.isUlVisible::before {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: bold;
}

#sidebar #categories .categoryLevel1.isUlUnVisible::before {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: bold;
}

#sidebar #categories ul li {
  display: list-item;
  margin: 0 0 0 30px;
}
#sidebar #categories ul {
  margin: 0;
  padding: 0 0 0 0;
}

#sidebar #categories ul .isUlVisible {
  max-height: 700px;
  overflow: hidden;
  transition: max-height 1s ease-in;
}

#sidebar #categories ul .isUlUnVisible {
  max-height: 0px;
  overflow: hidden;
}

#sidebar #categories button.categoryLevel1 {
  padding-right: 10px;
}
